<ion-view view-title="Accueil">
    <ion-content ng-controller="AccueilCtrl">
        <ion-list ng-repeat="item in articles">


            <ion-item class="item-thumbnail-left" >

                <img  ng-src="https://at-deg.inimov-cloud.com/{{item.image}}"  ng-click="showProductInfo(item.id,item.description,item.image,item.price)" >

                <p style="position:absolute;right:10px;">
                    <a  ng-click="addToCart(item.id,item.image,item.description,item.price)" class="button  button-balanced button-clear   icon ion-android-cart">  </a>
                </p>

                    <h2  ng-click="showProductInfo(item.id,item.description,item.image,item.price)" > {{item.description}} </h2>

                    <!--prix du produit-->
                    <p   ng-click="showProductInfo(item.id,item.description,item.image,item.price)">Price: {{item.price}} €</p>

            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
