<ion-view view-title="Accueil">
    <ion-content ng-controller="AccueilCtrl">
        <h1>Accueil</h1>
        <ion-list ng-repeat="item in articles">


            <ion-item class="item-thumbnail-left" >

                <img  ng-src="https://at-deg.inimov-cloud.com/{{item.image}}"  ng-click="showProductInfo(item.p_id,item.p_description,item.p_image_id,item.p_name,item.p_price)" >

                <p style="position:absolute;right:10px;">
                    <a  ng-click="addToCart(item.p_id,item.p_image_id,item.p_name,item.p_price)" class="button  button-balanced button-clear   icon ion-android-cart">  </a>
                </p>

                    <h2  ng-click="showProductInfo(item.p_id,item.p_description,item.p_image_id,item.p_name,item.p_price)" > {{item.description}} </h2>

                    <!--prix du produit-->
                    <p   ng-click="showProductInfo(item.p_id,item.p_description,item.p_image_id,item.p_name,item.p_price)">Price: ${{item.price}}</p>

            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
