<ion-view view-title="Accueil">
    <ion-content ng-controller="AccueilCtrl">
        <!--ici on met la liste des categorie avec le bouton de recherche a coter-->
        <div class="row" ng-show="categorie">
            <div class="col-80">

                    <label class="item item-select">
                        <select class="item_select_popup" name="category_id" ng-model="category_id" ng-change="choix_categorie()" style="max-width: 100%;width: 100%;direction: ltr">
                            <option value="" selected>-- Toutes les catégories --</option>
                            <!--<option value="1" >Légumes</option>
                            <option value="2" >Salades</option>
                            <option value="3" >Viandes</option>
                            <option value="4" >Soupe</option>-->

                            <option value="{{catego.id}}" ng-repeat="catego in liste_categories track by $index">{{catego.name}}</option>
                        </select>
                    </label>

            </div>
            <div class="col text-center">
                <span ng-click="cache_categorie()"><i class="icon ion-search icon_size_search positive"></i></span>
            </div>

        </div>
        <!--ici le formulaire de recherche-->
        <div class="bar bar-header item-input-inset" ng-show="!categorie">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Rechercher" ng-model="search">
            </label>
            <button class="button button-assertive" ng-click="cache_recherche()">
                Annuler
            </button>
        </div>
        <h5 class="padding text-center" ng-show="categorie_vide">Aucun produit disponible dans cette catégorie aujourd'hui</h5>
        <ion-list ng-repeat="item in articles | filter:search" class="slide-in-both-ways">


            <ion-item class="item-thumbnail-left" class="animate-in-primary">

                <img ng-src="http://78.46.11.29:8080/{{item.image}}"  ng-click="showProductInfo(item.id,item.description,item.image,item.price,item.name)" >
                <p ng-if="item.available_quantity < 6" style="position:absolute;right:20px;top:30px;">
                    {{item.available_quantity}} plats
                </p>
                <p style="position:absolute;right:14px;top:65px;">
                    <a ng-click="addToCart(item.id,item.image,item.description,item.price,item.name,item.available_quantity)" class="button button-positive button_ajout_panier">
                    Ajouter au panier</a>
                </p>

                    <h2 ng-click="showProductInfo(item.id,item.description,item.image,item.price,item.name)"> {{item.name}} </h2>

                    <!--prix du produit-->
                    <h3 ng-click="showProductInfo(item.id,item.description,item.image,item.price)">{{item.price}} €</h3>
                    <p ng-if="item.refund !==0"><span class="ancien_prix">{{item.price/(1 - item.refund/100) | number:2}}</span> € <br>
                        <span class="reduction"> -{{item.refund}} %</span>
                    </p>

            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
