

        <span class="couleur_rouge" ng-show="text">{{message}}</span>
        <label class="item item-input">
            <input type="text" name="nom" placeholder="Nom" ng-model="info_profil.name" required>
        </label>

        <label class="item item-input">
            <input type="tel" name="tel" placeholder="Numéro de téléphone" ng-model="info_profil.phone" required>
        </label>

        <label class="item item-input">
            <input type="text" name="rue" placeholder="Rue*" ng-model="info.rue" required>
        </label>

        <label class="item item-input">
            <input type="text" name="code_postal" placeholder="Code postal*" ng-model="info.postal_code" required>
        </label>

        <label class="item item-input">
            <input type="text" name="ville" placeholder="Ville*" ng-model="info.ville" required>
        </label>

        <label class="item item-input">
            <textarea type="text" rows="3" name="description" placeholder="Description" ng-model="info_profil.comments" required></textarea>
        </label>

