
<form name="info.formulaire">
        <span class="couleur_rouge" ng-show="text">{{message}}</span>
        <label class="item item-input">
            <input type="text" name="nom" placeholder="Nom du profil*" ng-model="info_profil.name" required>
        </label>

        <label class="item item-input">
            <input type="tel" name="tel" ng-pattern="/^\+32-\d{3}-\d{2}-\d{2}-\d{2}$/" placeholder="Tél.* Ex. +32-XXX-XX-XX-XX" ng-model="info_profil.phone" required>
        </label>
        <span style="color: red" ng-show="info.formulaire.tel.$error.pattern">Numéro de téléphone invalide!</span>

    <label class="item item-input">
        <input type="text" name="rue" placeholder="Rue* Ex. Rue des wallons" ng-model="info.rue" required>
    </label>

        <label class="item item-input">
            <input type="text" name="numeor" placeholder="Numéro de la rue" ng-model="info.numero">
        </label>


        <label class="item item-input">
            <input type="text" name="code_postal" placeholder="Code postal*" ng-model="info.postal_code" required>
        </label>

        <label class="item item-input">
            <input type="text" name="ville" placeholder="Ville*" ng-model="info.ville" required>
        </label>

        <label class="item item-input">
            <textarea type="text" rows="3" name="description" placeholder="Remarques à destination pour le livreur" ng-model="info_profil.comments"></textarea>
        </label>

</form>