<!--ici on ajoute tous les profiles et on permet a un utilisateur d'ajouter un profile-->
<ion-view view-title="Gestion profil">
    <ion-content ng-controller="GestionProfilCtrl">


    <div class="card" ng-repeat="profile in liste_profile track by $index">

        <div class="item item-text-wrap">
            <div class="position_delete">
                <a ng-click="modify_profile($index)" class="positive">Modifier</a>
                &nbsp;
                <a ng-click="delete_profile($index)" class="assertive">Supprimer</a>
            </div>
            <br>
            {{profile.address}}
            <span ng-if="profile.status == 1">
              <h2>  Prix min. de commande: {{profile.min_command_amount}} €</h2>
              <h2>  Prix de livraision: {{profile.delivery_amount}} €</h2>
            </span>
            <span style="color: red" ng-if="profile.status == 0">
               <br> (Pas encore validé)
            </span>
        </div>
    </div>

        <div class="row" style="padding-top: 0px;margin-top: 0px">
            <div class="col col-50 col-offset-50 pull-right" ng-click="ajouter_profile()" style="padding-top: 0px;margin-top: 0px">
                <a class="button icon-left ion-android-add button-balanced button-full text-right">Nouveau</a>
            </div>
        </div>

    </ion-content>
</ion-view>