<ion-view view-title="Informations personnelles">
    <ion-content>
        <!--<div style="padding-top: 20%;text-align: center">
            <img style="width: 100%" src="../img/logo.png">
        </div>-->

        <div ng-controller="CompteCtrl">
            <form name="formulaire" class="list list-inset" ng-submit="saveUser()">
                <label class="item item-input">
                    <input type="email" name="email" placeholder="Email" ng-model="user.email" required>
                </label>

                <label class="item item-input">
                    <input type="password" ng-show="!showpassword" name="password" placeholder="Mot de passe" ng-model="user.password" required>
                    <input ng-show="showpassword" type="text" name="password" placeholder="Mot de passe" ng-model="user.password" required>
                </label>
                <label class="item item-input">
                    <input type="password" ng-show="!showpassword" name="confirm_password" placeholder="Confirmation" ng-model="user.confirm_password" required>
                    <input type="text" ng-show="showpassword" name="confirm_password" placeholder="Confirmation" ng-model="user.confirm_password" required>
                </label>
                <ion-checkbox ng-click="montre_cache()">Voir le mot de passe</ion-checkbox>
                <div><button type="submit" class="button button-block button-positive">Suivant</button></div>
                <div class="padding">
                <span class="couleur_rouge" ng-show="formulaire.email.$error.email">
                    Adresse email invalide.
                </span>
                    <span class="couleur_rouge">{{error}}</span>
                </div>
            </form>
        </div>
        <div style="padding-top: 25%">

            <div class="text-center"> <a ui-sref="connexion()">J'ai déjà un compte</a></div>

        </div>

    </ion-content>
</ion-view>
