<ion-view view-title="Informations profil">
    <ion-content>
        <!--<div style="padding-top: 20%;text-align: center">
            <img style="width: 100%" src="../img/logo.png">
        </div>-->

        <div ng-controller="CompteCtrl">
            <form name="formulaire" class="list list-inset" ng-submit="singup()">
                <label class="item item-input">
                    <input type="text" name="nom" placeholder="Nom du profil*" ng-model="profile.name" required>
                </label>

                <label class="item item-input">
                    <input type="tel" name="tel" ng-pattern="/^\+[0-9]{1,3}[0-9 ]*$/" placeholder="Téléphone* Ex. +41 72 853 95 63" ng-model="profile.phone" required>
                </label>

                <label class="item item-input">
                    <input type="text" name="rue" placeholder="Rue* Ex. Rue des wallons" ng-model="info.rue" required>
                </label>

                <label class="item item-input">
                    <input type="text" name="numeor" placeholder="Numéro de la rue" ng-model="info.numero">
                </label>



                <label class="item item-input">
                    <input type="text" name="code_postal" placeholder="Code postal*" ng-model="info.postal_code" required>
                </label>

                <label class="item item-input">
                <input type="text" name="ville" placeholder="Ville*" ng-model="info.ville" required>
            </label>


                <label class="item item-input">
                    <textarea type="text" rows="3" name="description" placeholder="Remarques à destination pour le livreur" ng-model="profile.comments" required></textarea>
                </label>
                <span style="color: red" ng-show="formulaire.tel.$error.pattern">Numéro de téléphone invalide!</span>
                <div><button type="submit" class="button button-block button-positive">Suivant</button></div>
            </form>
        </div>
        <div style="padding-top: 25%">

            <div class="text-center"> <a ui-sref="connexion()">J'ai déjà un compte</a></div>

        </div>

    </ion-content>
</ion-view>
