<ion-view view-title="Informations profile">
    <ion-content>
        <!--<div style="padding-top: 20%;text-align: center">
            <img style="width: 100%" src="../img/logo.png">
        </div>-->

        <div ng-controller="CompteCtrl">
            <form name="formulaire" class="list list-inset" ng-submit="singup()">
                <label class="item item-input">
                    <input type="text" name="nom" placeholder="Nom" ng-model="profile.name" required>
                </label>

                <label class="item item-input">
                    <input type="tel" name="tel" placeholder="Numéro de téléphone" ng-model="profile.phone" required>
                </label>

                <label class="item item-input">
                    <input type="text" name="adresse" placeholder="Adresse" ng-model="profile.address" required>
                </label>

                <label class="item item-input">
                    <textarea type="text" rows="3" name="description" placeholder="Description" ng-model="profile.comments" required></textarea>
                </label>
                <div><button type="submit" class="button button-block button-positive">Suivant</button></div>
            </form>
        </div>
        <div style="padding-top: 25%">

            <div class="text-center"> <a ui-sref="connexion()">J'ai déjà un compte</a></div>

        </div>

    </ion-content>
</ion-view>
