<ion-view view-title="Informations">
    <ion-content ng-controller="InfoCtrl">
        <div class="padding text-center">
            <!--<h2 style="color: #ff6600; text-align: center">CookCooning</h2>-->
            <img style="width: 30%" src="http://78.46.11.29:8080/images/logo-mobile.png">
        </div>
        <div class="padding" ng-if="status_restau">
            <h4>Disponibilité</h4>
            <p>{{disponibilite}}</p>
        </div>
        <div class="padding" ng-if="!status_restau">
            <h4>Disponibilité</h4>
            <p>{{disponibilite}}</p>
            <span>
                {{message}}
            </span>
        </div>
        <!--<div class="padding">
            <h4>Adresse</h4>
            <p>Rue Ernest Solvay 267 à 4000 Sclessin</p>
        </div>-->
        <div class="padding">
            <h4>Contact</h4>
           <p>04/2292030</p>
        </div>
        <div class="padding">
            <h4>Horaires de livraison</h4>
            <p>{{message_ouverture}}</p>
        </div>
    </ion-content>
</ion-view>