<!--ici on ajoute tous les profiles et on permet a un utilisateur d'ajouter un profile-->
<ion-view view-title="Liste des commandes">
    <ion-content ng-controller="ListeCommandeCtrl">

<h5 style="text-align: center" ng-if="taille_tableau==0">Aucune commande enregistrée pour cette journée</h5>

        <div class="card" style="margin:0px 0px;" ng-repeat="commande in commande_livrer track by $index">
            <div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-80 text-center"><h6>N° {{commande.command_number}}</h6></div>
                    <div class="col"></div>
                    <!--<div class="col affichage_liste_commande_gauche">Numéro commande:</div>
                    <div class="col affichage_liste_commande">{{commande.command_number}}</div>-->
                </div>
                <div class="row">
                    <div class="col affichage_liste_commande_gauche">Montant total:</div>
                    <div class="col affichage_liste_commande">
                         {{commande.amount + commande.profile.delivery_amount | number:2}} €</div>
                </div>
                <div class="row">
                    <div class="col affichage_liste_commande_gauche">Livraison:</div>
                    <div class="col affichage_liste_commande">
                        {{commande.profile.delivery_amount | number:2}} € </div>
                </div>
                <div class="row">
                    <div class="col affichage_liste_commande_gauche">Heure commande:</div>
                    <div class="col affichage_liste_commande">{{commande.command_date.split(" ")[1]}}</div>
                </div>
                <div class="row">
                    <div class="col affichage_liste_commande_gauche">Heure livraison:</div>
                    <div class="col affichage_liste_commande">{{commande.delivery_date.split(" ")[1]}}</div>
                </div>

                <div class="row">
                    <div class="col affichage_liste_commande_gauche">Status commande:</div>
                    <div class="col affichage_status_commande" ng-if="commande.status ==2">
                        Livré
                    </div>
                    <div style="color: #999900" class="col affichage_status_commande" ng-if="commande.status ==0">
                        En cours
                    </div>
                    <div style="color: #f68b1e" class="col affichage_status_commande" ng-if="commande.status ==1">
                        En livraison
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col"></div>
                    <div class="col col-50 text-center">
                        <a   class="button  button-balanced button_ajout_panier">
                            Détails</a>
                    </div>
                    <div class="col"></div>
                </div>-->
                <div class="row">
                <!--<div class="row" ng-if="commande.command_error==null">-->
                    <div class="col text-center" ng-if="commande.status ==2 && commande.command_error==null">
                        <a  ng-click="signaler_erreur($index)" style="padding: 0px 0px; min-height: 40px;font-size: 13px;line-height: 40px;border-radius: 5px;" class="button button-full button-assertive">
                            Signaler une erreur</a>
                    </div>
                    <div class="col text-center">
                        <a  ng-click="detail_commande($index)" style="padding: 0px 0px; min-height: 40px;background-color: #a2a2a2;color: white;font-size: 13px;line-height: 40px;border-radius: 5px;" class="button button-full">
                            Détails</a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="card">
            <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
            </div>
        </div>-->
    </ion-content>
</ion-view>