<!--ici on ajoute tous les profiles et on permet a un utilisateur d'ajouter un profile-->
<ion-view view-title="Liste des commandes">
    <ion-content ng-controller="ListeCommandeCtrl">

<h5 style="text-align: center" ng-if="taille_tableau==0">Aucune commande enregistrée pour cette journée</h5>
        <div class="card" ng-repeat="commande in commande_livrer track by $index">
            <div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-80 text-center"><h6>{{commande.command_number}}</h6></div>
                    <div class="col"></div>
                    <!--<div class="col affichage_liste_commande_gauche">Numéro commande:</div>
                    <div class="col affichage_liste_commande">{{commande.command_number}}</div>-->
                </div>
                <div class="row">
                    <div class="col affichage_liste_commande_gauche">Montant total:</div>
                    <div class="col affichage_liste_commande">
                         {{commande.amount + commande.profile.delivery_amount | number:2}} €</div>
                </div>
                <div class="row">
                    <div class="col affichage_liste_commande_gauche">Livraison:</div>
                    <div class="col affichage_liste_commande">
                        {{commande.profile.delivery_amount | number:2}} € </div>
                </div>
                <div class="row">
                    <div class="col affichage_liste_commande_gauche">Heure commande:</div>
                    <div class="col affichage_liste_commande">{{commande.command_date | date: format:'HH:mm:ss'}}</div>
                </div>
                <div class="row">
                    <div class="col affichage_liste_commande_gauche">Heure livraison:</div>
                    <div class="col affichage_liste_commande">{{commande.delivery_date | date: format:'HH:mm:ss' }}</div>
                </div>

                <div class="row">
                    <div class="col affichage_liste_commande_gauche">Status commande:</div>
                    <div class="col affichage_status_commande" ng-if="commande.status ==2">
                        Livré
                    </div>
                    <div style="color: #999900" class="col affichage_status_commande" ng-if="commande.status ==0">
                        En cours
                    </div>
                    <div style="color: #f68b1e" class="col affichage_status_commande" ng-if="commande.status ==1">
                        En livraison
                    </div>
                </div>
                <div class="row" ng-if="commande.status ==2 && commande.command_error==null">
                    <div class="col"></div>
                    <div class="col col-50 text-center">
                        <a  ng-click="signaler_erreur($index)" class="button  button-assertive button_ajout_panier">
                            Signaler une erreur</a>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <!--<div class="card">
            <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
            </div>
        </div>-->
    </ion-content>
</ion-view>