<!--ici la page permettant de modifier le proile dun utilisateur donnee-->

<form name="formulaire">
<span class="couleur_rouge" ng-show="text">{{message}}</span>
<label class="item item-input">
    <input type="text" name="nom" placeholder="Nom du profil*" ng-model="info_modify.name" required>
</label>

<label class="item item-input">
    <input type="tel" name="tel" ng-pattern="/^\+[0-9]{1,3}[0-9 ]*$/" placeholder="Téléphone* Ex. +41 72 853 95 63" ng-model="info_modify.phone" required>
</label>
<span style="color: red" ng-show="formulaire.tel.$error.pattern">Numéro de téléphone invalide!</span>
<label class="item item-input">
    <input type="text" name="address" placeholder="Address*" ng-model="info_modify.address" required>
</label>

<label class="item item-input">
    <textarea type="text" rows="3" name="description" placeholder="Remarques à destination pour le livreur" ng-model="info_modify.comments" required></textarea>
</label>
</form>
