<!--ici on affiche la liste des produits presents dans le panier de lutilisateur-->
<ion-view view-title="Votre panier">
    <ion-content ng-controller="PanierCtrl">
        <div ng-if="taille_panier!=0" class="padding padding_top_null">
            <label>
                <button class="button button-block button-positive" ng-click="commander()">Lancer la commande</button>
            </label>
        </div>
        <p ng-if="taille_panier==0">{{panier_vide}}</p>
        <ion-list ng-repeat="item in cart">
            <ion-item>
            <img ng-src="https://at-deg.inimov-cloud.com/{{item.cart_item_image}}" width="100%" height="auto" style="width: 100%; height: auto;">
            <p style="text-align: center">{{item.cart_item_description}}</p>
            <div>
                <p style="text-align: center">{{item.cart_item_qty}} x {{item.cart_item_price}} € =
                    <strong>{{ item.cart_item_qty *  item.cart_item_price  }} €</strong>
                </p>
            </div>

            <!--the bottom buttons for cart items-->
            <div class="button-bar">
                <button ng-click="removeFromCart(item.cart_item_id)" class="button button-assertive button-block button-small icon ion-android-delete" ></button>
                <button class="button button-stable button-clear button-block  icon ion-minus" ng-click="dec(item.cart_item_id)" ></button>
                <button class="button button-stable button-clear button-block button-small">{{item.cart_item_qty}}</button>
                <button class="button button-stable button-clear button-block button-small icon ion-plus" ng-click="inc(item.cart_item_id)"></button>

            </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
