<div>
<span ng-if="text">{{message}}</span>
    <label class="item item-select">
        <select class="item_select_popup" name="profile_id" ng-model="info_commande.profile_id" ng-change="choix_profile()" style="max-width: 100%;width: 100%;direction: ltr">
            <option value="" selected>-- Choisir un profile --</option>
            <option value="{{$index}}" ng-repeat="profile in profile_user track by $index">{{profile.address}}</option>
        </select>
    </label>

</div>

<div class="padding-top">

    <label class="item item-select">
        <select class="item_select_popup" name="moment" ng-change ="affiche_heure()" ng-model="info_commande.moment" style="max-width: 100%;width: 100%;direction: ltr">
            <option value="" selected>-- Moment de livraison --</option>
            <option value="0">Au plus vite</option>
            <option value="1">Avant</option>
            <option value="2">Après</option>
        </select>
    </label>

</div>

<div class="padding-top" ng-show="heure">
    <label class="item item-input" style="padding: 0px 0 0px 16px;">
        <span style="padding: 3px 80px 0px 0px;" class="input-label">Heure</span>
        <input type="time" ng-model="info_commande.heure">

    </label>
</div>

<div class="padding-top">
<label class="item item-input">
    <textarea type="text" rows="3" name="commentaire" placeholder="Commentaire" ng-model="info_commande.commentaire"></textarea>
</label>
</div>