
/* Empty. Add your own CSS if you like */
.padding_top_null{
  padding-top: 0px;
}

.padding_bottom_null{
  padding-bottom: 0px;
}
.marge_haut{
  padding-top: 20%;
}
.marge_from_haut{
  padding-top: 20%;
}
.couleur_rouge{
  color: red;
}
.compte_commande{
  position: absolute;
  top:0px;
  left: 60px;
}

/*on gere le css des popup a ce niveau*/
.popup_produit_detail .popup-body{
  padding: 0px;
}

.popup_produit_detail .popup-head{
  padding: 0;
  border:none;
  /*border-bottom: 1px solid #eee;
  text-align: center;*/
}
.popup_produit_detail .popup-buttons{
  padding: 0px;
  min-height: 40px;
}
/*cette classe permet de dimunuer le padding du popup*/
.dimunue_padding_popup{
  padding: 2px;
}

/*bonne position du chariot en haut*/
.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
  position: absolute;
  top: 5px;
  right: 16px;
  bottom: 5px;
}

/*pour arranger le texte du select dans le item*/
.item_select_popup{
  direction: ltr;
  padding: 0 50px 0 16px;

}

/*on customise l'affichage du popup de la commande*/
.popup_commande .popup-head{
  background-color: #ff6600;
}

.popup_profile .popup-head{
  background-color: #ff6600;
}

.popup_commande .popup-buttons{
  padding: 0px;
  min-height: 40px;
}

.popup_profile .popup-buttons{
  padding: 0px;
  min-height: 40px;
}
.popup_commande_error .popup-body{
  padding: 0px;
}

.popup_commande_error .popup-head{
  background-color: #ff6600;
}

.popup_commande_error .popup-buttons{
  padding: 0px;
  min-height: 40px;
}

.popup_commande_error .popup-head .popup-title{
  color: white;
}

.popup_commande .popup-head .popup-title{
  color: white;
}
.popup_profile .popup-head .popup-title{
  color: white;
}
.popup_profile .popup-body{
  background-color: white;
  //padding: 0;
}
/*css du bouton ajouter au panier a ce niveau*/
.button_ajout_panier{
  padding: 0 5px;
  min-height: 26px;
  font-size: 12px;
  line-height: 26px;
  border-radius: 3px;
}
.button_error{
  padding: 0px 0px;
  min-height: 40px;
  font-size: 13px;
  line-height: 40px;
  border-radius: 3px;
}

/*ceci permet de bien positionner le texte du bouton a l'interieur du cadre*/
p .button:after{
  right: 0px;
}
.nombre_commande{
  color: rgb(255, 102, 0);
  font-family: inherit;
  background-color: white;
  border-radius: 50%;
  min-width: 15px;
  min-height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  padding: 2px;
}
.reduction{
  color: white;
  font-family: inherit;
  background-color: #f68b1e;
  //border-radius: 50%;
  min-width: 15px;
  min-height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  padding: 2px;
}

.ancien_prix{
  text-decoration: line-through;
  font-size: 11px;
}
.affichage_liste_commande{
  text-align: right;
  padding: 0px;
  padding-right: 10px;
  font-family: italic;

}
.affichage_liste_commande_gauche{
  padding: 0px;
  padding-left: 10px;
  text-align: left;
  font-family: italic;

}
.button_signal_erreur{
  min-height: 26px;
  font-size: 12px;
  line-height: 26px;
  border-radius: 10px;
}
.affichage_status_commande{
  padding: 0px;
  padding-right: 10px;
  text-align: right;
  color: green;
  font-weight: bold;
}

.couleur_app{
  color: #ff6600;
}
.loading{
  background-color: #ff6600 !important;
}
.spinner.light svg {
  stroke: #fff !important;
  fill: #fff !important;
}

/*afficher tout le texte dans la description du produit*/
.description_produit{
  white-space: pre-wrap;
}
.toast_section{
  background-color: #4CAF50 !important;
}
#enleve_bordure{
  border-top: none;
  border-left: none;
  border-right: none;
}
#enleve_bordure_deux{
  border-left: none;
  border-right: none;
}

#resto{
  background-image:url('https://cook-cooning.quickdeveloppement.com/images/resto.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.position_delete{
  position: absolute;
  left: 50%;
  top: 0px;
}
.icon_size_delete{
  font-size: 25px;
  color: red;
}
.icon_size_update{
  font-size: 25px;
  color: #4CAF50;
}
/*ceci permet de gerer loeil dans les formlaire*/
/*.login-form .item {
  border-width: 0;
  overflow: visible;
  text-overflow: inherit;
  white-space: normal;
}

.login-form .item-input {
  margin-top: 24px;
  border-width: 0 0 1px 0;
}*/
.login-form .item-input>input+button.activated {
  opacity: 1;
}

.login-form .item-input>input+button>i {
  font-size: 24px;
}
.icon_size_search{
  font-size: 25px;
}
.bouton_nouveau .button{
  padding: 0 6px;
}

/*code permettant de gerer les animations*/
@-webkit-keyframes slideInBothWays {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }

  50% {
    -webkit-transform: translate3d(50%,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

.slide-in-both-ways {
  -webkit-animation: slideInBothWays ease-in 1;
  animation: slideInBothWays ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}

@-webkit-keyframes animateInPrimary {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes animateInSecondary{

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-in-primary {
  -webkit-animation: animateInPrimary;
  animation: animateInPrimary;
  -webkit-animation-duration: 750ms;
  animation-duraton: 750ms;
}

.animate-in-secondary {
  -webkit-animation: animateInSecondary ease-in 1;
  animation: animateInSecondary ease-in 1;
  -webkit-animation-duration: 750ms;
  animation-duraton: 750ms;
}