/* Empty. Add your own CSS if you like */
.padding_top_null{
    padding-top: 0px;
}

.padding_bottom_null{
    padding-bottom: 0px;
}
.marge_haut{
    padding-top: 20%;
}
.marge_from_haut{
    padding-top: 20%;
}
.couleur_rouge{
    color: red;
}